{% block sidebar %}
{% load static %}
<div class="col-md-4 float-right">
    <div class="card  my-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/newmahdi (2).png' %}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center">درباره من:</h5>
              <p class="card-text text-right">مهدی آزادی توسعه دهنده وب با پایتون,عاشق یادگیری و مخصوصا فریم ورک جنگوهستم.بصورت فریلنسری فعالیت دارم .</p>
              <a href="{% url 'display' %}">آموزش نصب جنگو...</a>
            </div>
          </div>
        </div>
      </div>
</div>



{% endblock sidebar %}